button {
    margin-right: 1rem;
  }
  
  form {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .fill-in {
    width: 100%;
  }
  
  .input {
    width: 50%;
  }
  

  #preview {
    background-color: #ffc642;
    color: white;
  }