<div class="main-content">
    <div *ngIf="!selected; else display">
        <div *ngFor="let quiz of quizList$ | async">
            <div class="test-link" (click)="select(quiz)">
                <h3>{{quiz.title}}</h3>
            </div>
        </div>
    </div>
    <ng-template #display>
        <div *ngIf="!submitClicked">
            <button mat-icon-button (click)="clear()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h1>{{selected.title}}</h1>
            <p>{{selected.description}}</p>
            <div *ngFor="let question of selected.questions; let i = index">
                <form [formGroup]="userInput">
                    <!-- switch on type -->
                    <div [ngSwitch]="question.type">
                        <div *ngSwitchCase="'Multiple Choice'">
                            <div *ngIf="(question.value==1)">
                                <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                            </div>
                            <div *ngIf="(question.value>1)">
                                <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                            </div>
                            <div>
                                <mat-radio-group [formControlName]="i.toString()">
                                    <mat-radio-button [value]="question.optionOne">
                                        {{question.optionOne}}
                                    </mat-radio-button><br>
                                    <mat-radio-button [value]="question.optionTwo">
                                        {{question.optionTwo}}
                                    </mat-radio-button><br>
                                    <mat-radio-button [value]="question.optionThree">
                                        {{question.optionThree}}
                                    </mat-radio-button><br>
                                    <mat-radio-button [value]="question.optionFour">
                                        {{question.optionFour}}
                                    </mat-radio-button>
                                    <br>
                                </mat-radio-group>
                            </div>
                            <br>
                        </div>
                        <div *ngSwitchCase="'True/False'">
                            <div *ngIf="(question.value==1)">
                                <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                            </div>
                            <div *ngIf="(question.value>1)">
                                <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                            </div>
                            <div>
                                <mat-radio-group [formControlName]="i.toString()">
                                    <mat-radio-button [value]="true">True</mat-radio-button><br>
                                    <mat-radio-button [value]="false">False</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <br>
                        </div>
                        <div *ngSwitchCase="'Short Answer'">
                            <div *ngIf="(question.value==1)">
                                <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                            </div>
                            <div *ngIf="(question.value>1)">
                                <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                            </div>
                            <div>
                                <mat-form-field appearance="fill" class="input">
                                    <input matInput placeholder="Answer Goes Here..." [formControlName]="i.toString()">
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngSwitchCase="'Essay'">
                            <div *ngIf="(question.value==1)">
                                <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                            </div>
                            <div *ngIf="(question.value>1)">
                                <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                            </div>
                            <div>
                                <mat-form-field appearance="fill" class="fill-in">
                                    <textarea matInput placeholder="Answer Goes Here..." [formControlName]="i.toString()">
                                </textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngSwitchCase="'Ranking'">
                            <div *ngIf="(question.value==1)">
                                <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                            </div>
                            <div *ngIf="(question.value>1)">
                                <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                            </div>
                            <div [formGroupName]="i.toString()">
                                <div>
                                    <mat-form-field appearance="fill" class="rank">
                                        <mat-label>Rank</mat-label>
                                        <mat-select [formControlName]="question.optionOne">
                                            <mat-option [value]="1">1</mat-option>
                                            <mat-option [value]="2">2</mat-option>
                                            <mat-option [value]="3">3</mat-option>
                                            <mat-option [value]="4">4</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    &nbsp;{{question.optionOne}}
                                </div>
                                <div>
                                    <mat-form-field appearance="fill" class="rank">
                                        <mat-label>Rank</mat-label>
                                        <mat-select [formControlName]="question.optionTwo">
                                            <mat-option [value]="1">1</mat-option>
                                            <mat-option [value]="2">2</mat-option>
                                            <mat-option [value]="3">3</mat-option>
                                            <mat-option [value]="4">4</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    &nbsp;{{question.optionTwo}}
                                </div>
                                <div>
                                    <mat-form-field appearance="fill" class="rank">
                                        <mat-label>Rank</mat-label>
                                        <mat-select [formControlName]="question.optionThree">
                                            <mat-option [value]="1">1</mat-option>
                                            <mat-option [value]="2">2</mat-option>
                                            <mat-option [value]="3">3</mat-option>
                                            <mat-option [value]="4">4</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    &nbsp;{{question.optionThree}}
                                </div>
                                <div>
                                    <mat-form-field appearance="fill" class="rank">
                                        <mat-label>Rank</mat-label>
                                        <mat-select [formControlName]="question.optionFour">
                                            <mat-option [value]="1">1</mat-option>
                                            <mat-option [value]="2">2</mat-option>
                                            <mat-option [value]="3">3</mat-option>
                                            <mat-option [value]="4">4</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    &nbsp;{{question.optionFour}}
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'Matching'">
                            <div *ngIf="(question.value==1)">
                                <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                            </div>
                            <div *ngIf="(question.value>1)">
                                <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                            </div>
                            <div [formGroupName]="i.toString()">
                                <div>
                                    <mat-form-field appearance="fill" class="match">
                                        <mat-label>Match</mat-label>
                                        <mat-select [formControlName]="question.optionOne">
                                            <mat-option value="a">a. {{question.matchA}}</mat-option>
                                            <mat-option value="b">b. {{question.matchB}}</mat-option>
                                            <mat-option value="c">c. {{question.matchC}}</mat-option>
                                            <mat-option value="d">d. {{question.matchD}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    &nbsp;{{question.optionOne}}
                                    <br>
                                </div>
                                <div>
                                    <mat-form-field appearance="fill" class="match">
                                        <mat-label>Match</mat-label>
                                        <mat-select [formControlName]="question.optionTwo">
                                            <mat-option value="a">a. {{question.matchA}}</mat-option>
                                            <mat-option value="b">b. {{question.matchB}}</mat-option>
                                            <mat-option value="c">c. {{question.matchC}}</mat-option>
                                            <mat-option value="d">d. {{question.matchD}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    &nbsp;{{question.optionTwo}}
                                    <br>
                                </div>
                                <div>
                                    <mat-form-field appearance="fill" class="match">
                                        <mat-label>Match</mat-label>
                                        <mat-select [formControlName]="question.optionThree">
                                            <mat-option value="a">a. {{question.matchA}}</mat-option>
                                            <mat-option value="b">b. {{question.matchB}}</mat-option>
                                            <mat-option value="c">c. {{question.matchC}}</mat-option>
                                            <mat-option value="d">d. {{question.matchD}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    &nbsp;{{question.optionThree}}
                                    <br>
                                </div>
                                <div>
                                    <mat-form-field appearance="fill" class="match">
                                        <mat-label>Match</mat-label>
                                        <mat-select [formControlName]="question.optionFour">
                                            <mat-option value="a">a. {{question.matchA}}</mat-option>
                                            <mat-option value="b">b. {{question.matchB}}</mat-option>
                                            <mat-option value="c">c. {{question.matchC}}</mat-option>
                                            <mat-option value="d">d. {{question.matchD}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    &nbsp;{{question.optionFour}}
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <button mat-raised-button (click)="submit()" class="go">Submit</button>
        </div>
        <div *ngIf="submitClicked">
            <button mat-icon-button (click)="refresh()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h1>{{selected.title}}</h1>
            <p>{{selected.description}}</p>
            <div *ngFor="let question of selected.questions; let i = index">
                <!-- switch on type -->
                <div [ngSwitch]="question.type">
                    <div *ngSwitchCase="'Multiple Choice'">
                        <div *ngIf="(question.value==1)">
                            <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                        </div>
                        <div *ngIf="(question.value>1)">
                            <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                        </div>
                        <div>
                            Your Answer: {{userInput.value[i.toString()]}}<br>
                            Correct Answer: {{question.answer}}<br>
                            <!-- <div [ngSwitch]="question.answer">
                                <div *ngSwitchCase="1">
                                    Correct Answer: {{question.optionOne}}
                                </div>
                                <div *ngSwitchCase="2">
                                    Correct Answer: {{question.optionTwo}}
                                </div>
                                <div *ngSwitchCase="3">
                                    Correct Answer: {{question.optionThree}}
                                </div>
                                <div *ngSwitchCase="4">
                                    Correct Answer: {{question.optionFour}}
                                </div>
                            </div> -->
                            <br>
                        </div>
                    </div>
                    <div *ngSwitchCase="'True/False'">
                        <div *ngIf="(question.value==1)">
                            <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                        </div>
                        <div *ngIf="(question.value>1)">
                            <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                        </div>
                        <div>
                            Your Answer: {{userInput.value[i.toString()]}}<br>
                            Correct Answer: {{question.answer}}<br><br>
                            <!-- <div [ngSwitch]="question.answer">
                                <div *ngSwitchCase="'true'">
                                    Correct Answer: true
                                </div>
                                <div *ngSwitchCase="'false'">
                                    Correct Answer: false
                                </div>
                                <br>
                            </div> -->
                        </div>
                    </div>
                    <div *ngSwitchCase="'Short Answer'">
                        <div *ngIf="(question.value==1)">
                            <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                        </div>
                        <div *ngIf="(question.value>1)">
                            <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                        </div>
                        <div>
                            *credit may not be given if worded differently from answer*<br>
                            Your Answer: {{userInput.value[i.toString()]}}<br>
                            Correct Answer: {{question.answer}}
                        </div>
                        <br>
                    </div>
                    <div *ngSwitchCase="'Essay'">
                        <div *ngIf="(question.value==1)">
                            <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                        </div>
                        <div *ngIf="(question.value>1)">
                            <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                        </div>
                        <div>
                            *credit may not be given if worded differently from answer*<br>
                            Your Answer: {{userInput.value[i.toString()]}}<br>
                            Correct Answer: {{question.answer}}
                        </div>
                        <br>
                    </div>
                    <div *ngSwitchCase="'Ranking'">
                        <div *ngIf="(question.value==1)">
                            <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                        </div>
                        <div *ngIf="(question.value>1)">
                            <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                        </div>
                        <div>
                            Your Answer: <br>
                            {{selected.questions[i].optionOne}} -
                            {{userInput.value[i.toString()][selected.questions[i].optionOne] | json}}<br>
                            {{selected.questions[i].optionTwo}} -
                            {{userInput.value[i.toString()][selected.questions[i].optionTwo] | json}}<br>
                            {{selected.questions[i].optionThree}} -
                            {{userInput.value[i.toString()][selected.questions[i].optionThree] | json}}<br>
                            {{selected.questions[i].optionFour}} -
                            {{userInput.value[i.toString()][selected.questions[i].optionFour] | json}}<br>
                            <br>
                            Correct Answer:<br>
                            {{selected.questions[i].optionOne}} -
                            {{selected.questions[i].rankOne}}<br>                         
                            {{selected.questions[i].optionTwo}} -
                            {{selected.questions[i].rankTwo}}<br>
                            {{selected.questions[i].optionThree}} -
                            {{selected.questions[i].rankThree}}<br>                           
                            {{selected.questions[i].optionFour}} -
                            {{selected.questions[i].rankFour}}<br>
                        </div>
                        <br>
                    </div>
                    <div *ngSwitchCase="'Matching'">
                        <div *ngIf="(question.value==1)">
                            <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                        </div>
                        <div *ngIf="(question.value>1)">
                            <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                        </div>
                        <div>
                            Matches:<br>
                            a. {{question.matchA}}<br>
                            b. {{question.matchB}}<br>
                            c. {{question.matchC}}<br>
                            d. {{question.matchD}}<br>
                            <br>
                            Your Answers: <br>
                            {{selected.questions[i].optionOne}} -
                            {{userInput.value[i.toString()][selected.questions[i].optionOne] | json}}<br>
                            {{selected.questions[i].optionTwo}} -
                            {{userInput.value[i.toString()][selected.questions[i].optionTwo] | json}}<br>
                            {{selected.questions[i].optionThree}} -
                            {{userInput.value[i.toString()][selected.questions[i].optionThree] | json}}<br>
                            {{selected.questions[i].optionFour}} -
                            {{userInput.value[i.toString()][selected.questions[i].optionFour] | json}}<br>
                            <br>
                            Correct Answers: <br>
                            {{selected.questions[i].optionOne}} -
                            {{selected.questions[i].matchOne}}<br>
                            {{selected.questions[i].optionTwo}} -
                            {{selected.questions[i].matchTwo}}<br>
                            {{selected.questions[i].optionThree}} -
                            {{selected.questions[i].matchThree}}<br>
                            {{selected.questions[i].optionFour}} -
                            {{selected.questions[i].matchFour}}<br>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div>
                <strong>Points Earned: {{pointsScored}}<br>
                Total Points: {{totalWorth}}<br>
                Your Score: {{totalScore | percent}}</strong><br>
            </div>
        </div>
    </ng-template>
</div>