<div *ngIf="!isPreviewing" class="main-content">
    <form [formGroup]="editQuizForm">
        <div class="row header">
            <div class="col-md-12">
                <mat-form-field appearance="fill" class="input">
                    <input matInput placeholder="Add Title" formControlName="title">
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field appearance="fill" class="fill-in">
                    <textarea matInput placeholder="Add Description" formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="questionTypes.length > 0; else noQuestions" formArrayName="questions">
            <div *ngFor="let question of questionForms.controls; let i = index" [formGroupName]="i">
                <div [ngSwitch]="questionTypes[i]">
                    <!-- start listing types of questions -->
                    <div *ngSwitchCase="'Multiple Choice'">
                        <strong>Question {{i + 1}}:</strong>
                        <p>{{question.type}}</p>
                        <div>
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Write Question Here..." formControlName="question">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-radio-group formControlName="answer" class="input">
                                <mat-radio-button [value]="question.value.optionOne" [checked]="false">
                                    <mat-form-field appearance="fill">
                                        <input matInput placeholder="Option One..." formControlName="optionOne">
                                    </mat-form-field>
                                </mat-radio-button><br>
                                <mat-radio-button [value]="question.value.optionOne" [checked]="false">
                                    <mat-form-field appearance="fill">
                                        <input matInput placeholder="Option Two..." formControlName="optionTwo">
                                    </mat-form-field>
                                </mat-radio-button><br>
                                <mat-radio-button [value]="question.value.optionOne" [checked]="false">
                                    <mat-form-field appearance="fill">
                                        <input matInput placeholder="Option Three..." formControlName="optionThree">
                                    </mat-form-field>
                                </mat-radio-button><br>
                                <mat-radio-button [value]="question.value.optionOne" [checked]="false">
                                    <mat-form-field appearance="fill">
                                        <input matInput placeholder="Option Four..." formControlName="optionFour">
                                    </mat-form-field>
                                </mat-radio-button><br>
                            </mat-radio-group>
                        </div>
                        <div>
                            Points:
                            <mat-form-field appearance="fill" class="points">
                                <input matInput placeholder="" formControlName="value">
                            </mat-form-field>
                            <span *ngIf="question.controls.value.errors?.pattern">
                                Only positive whole numbers accepted!
                            </span>
                        </div>
                        <div>
                            <button mat-raised-button (click)="deleteQuestion(i)">Delete question</button>
                        </div>
                        <br>
                    </div>

                    <div *ngSwitchCase="'True/False'">
                        <strong>Question {{i + 1}}:</strong>
                        <p>{{question.type}}</p>
                        <div>
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Write Question Here..." formControlName="question">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-radio-group formControlName="answer">
                                <mat-radio-button value="true">true</mat-radio-button><br>
                                <mat-radio-button value="false">false</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div>
                            Points:
                            <mat-form-field appearance="fill" class="points">
                                <input matInput placeholder="" formControlName="value">
                            </mat-form-field>
                            <span *ngIf="question.controls.value.errors?.pattern">
                                Only positive whole numbers accepted!
                            </span>
                        </div>
                        <div>
                            <button mat-raised-button (click)="deleteQuestion(i)">Delete question</button>
                        </div>
                        <br>
                    </div>

                    <div *ngSwitchCase="'Short Answer'">
                        <strong>Question {{i + 1}}:</strong>
                        <p>{{question.type}}</p>
                        <div>
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Write Question Here..." formControlName="question">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Answer Goes Here..." formControlName="answer">
                            </mat-form-field>
                            <span *ngIf="question.controls.answer.errors?.maxlength">
                                The maximum character limit is 100!
                            </span>
                        </div>
                        <div>
                            Points:
                            <mat-form-field appearance="fill" class="points">
                                <input matInput placeholder="" formControlName="value">
                            </mat-form-field>
                            <span *ngIf="question.controls.value.errors?.pattern">
                                Only positive whole numbers accepted!
                            </span>
                        </div>
                        <div>
                            <button mat-raised-button (click)="deleteQuestion(i)">Delete question</button>
                        </div>
                        <br>
                    </div>

                    <div *ngSwitchCase="'Essay'">
                        <strong>Question {{i + 1}}:</strong>
                        <p>{{question.type}}</p>
                        <div>
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Write Question Here..." formControlName="question">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill" class="fill-in">
                                <textarea matInput placeholder="Answer Goes Here..." formControlName="answer">
                                </textarea>
                            </mat-form-field>
                            <span *ngIf="question.controls.answer.errors?.maxlength">
                                The maximum character limit is 500!
                            </span>
                        </div>
                        <div>
                            Points:
                            <mat-form-field appearance="fill" class="points">
                                <input matInput placeholder="" formControlName="value">
                            </mat-form-field>
                            <span *ngIf="question.controls.value.errors?.pattern">
                                Only positive whole numbers accepted!
                            </span>
                        </div>
                        <div>
                            <button mat-raised-button (click)="deleteQuestion(i)">Delete question</button>
                        </div>
                        <br>
                    </div>

                    <div *ngSwitchCase="'Ranking'">
                        <strong>Question {{i + 1}}:</strong>
                        <p>{{question.type}}</p>
                        <div>
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Write Question or Instructions Here..."
                                    formControlName="question">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill" class="rank">
                                <mat-label> Rank</mat-label>
                                <mat-select formControlName="rankOne">
                                    <mat-option [value]="1">1</mat-option>
                                    <mat-option [value]="2">2</mat-option>
                                    <mat-option [value]="3">3</mat-option>
                                    <mat-option [value]="4">4</mat-option>
                                </mat-select>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Option One..." formControlName="optionOne">
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="fill" class="rank">
                                <mat-label> Rank</mat-label>
                                <mat-select formControlName="rankTwo">
                                    <mat-option [value]="1">1</mat-option>
                                    <mat-option [value]="2">2</mat-option>
                                    <mat-option [value]="3">3</mat-option>
                                    <mat-option [value]="4">4</mat-option>
                                </mat-select>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Option Two..." formControlName="optionTwo">
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="fill" class="rank">
                                <mat-label> Rank</mat-label>
                                <mat-select formControlName="rankThree">
                                    <mat-option [value]="1">1</mat-option>
                                    <mat-option [value]="2">2</mat-option>
                                    <mat-option [value]="3">3</mat-option>
                                    <mat-option [value]="4">4</mat-option>
                                </mat-select>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Option Three..." formControlName="optionThree">
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="fill" class="rank">
                                <mat-label> Rank</mat-label>
                                <mat-select formControlName="rankFour">
                                    <mat-option [value]="1">1</mat-option>
                                    <mat-option [value]="2">2</mat-option>
                                    <mat-option [value]="3">3</mat-option>
                                    <mat-option [value]="4">4</mat-option>
                                </mat-select>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Option Four..." formControlName="optionFour">
                            </mat-form-field>
                            <br>
                        </div>
                        <div>
                            Points:
                            <mat-form-field appearance="fill" class="points">
                                <input matInput placeholder="" formControlName="value">
                            </mat-form-field>
                            <span *ngIf="question.controls.value.errors?.pattern">
                                Only positive whole numbers accepted!
                            </span>
                        </div>
                        <div>
                            <button mat-raised-button (click)="deleteQuestion(i)">Delete question</button>
                        </div>
                        <br>
                    </div>
                    <div *ngSwitchCase="'Matching'">
                        <strong>Question {{i + 1}}:</strong>
                        <p>{{question.type}}</p>
                        <div>
                            <mat-form-field appearance="fill" class="fill-in">
                                <textarea matInput placeholder="Write Question Here..."
                                    formControlName="question"></textarea>
                            </mat-form-field>
                        </div>
                        <div>
                            Options:<br>
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Option One..." formControlName="optionOne">
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill" class="match">
                                <mat-label>Match</mat-label>
                                <mat-select formControlName="matchOne">
                                    <mat-option value="a">a</mat-option>
                                    <mat-option value="b">b</mat-option>
                                    <mat-option value="c">c</mat-option>
                                    <mat-option value="d">d</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Option Two..." formControlName="optionTwo">
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill" class="match">
                                <mat-label>Match</mat-label>
                                <mat-select formControlName="matchTwo">
                                    <mat-option value="a">a</mat-option>
                                    <mat-option value="b">b</mat-option>
                                    <mat-option value="c">c</mat-option>
                                    <mat-option value="d">d</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Option Three..." formControlName="optionThree">
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill" class="match">
                                <mat-label>Match</mat-label>
                                <mat-select formControlName="matchThree">
                                    <mat-option value="a">a</mat-option>
                                    <mat-option value="b">b</mat-option>
                                    <mat-option value="c">c</mat-option>
                                    <mat-option value="d">d</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Option Four..." formControlName="optionFour">
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill" class="match">
                                <mat-label>Match</mat-label>
                                <mat-select formControlName="matchFour">
                                    <mat-option value="a">a</mat-option>
                                    <mat-option value="b">b</mat-option>
                                    <mat-option value="c">c</mat-option>
                                    <mat-option value="d">d</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                        </div>
                        <div>
                            Matches:<br>
                            a.&nbsp;
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Match a..." formControlName="matchA">
                            </mat-form-field><br>
                            b.&nbsp;
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Match b..." formControlName="matchB">
                            </mat-form-field><br>
                            c.&nbsp;
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Match  c..." formControlName="matchC">
                            </mat-form-field><br>
                            d.&nbsp;
                            <mat-form-field appearance="fill" class="input">
                                <input matInput placeholder="Match d..." formControlName="matchD">
                            </mat-form-field>
                        </div>
                        <div>
                            Points:
                            <mat-form-field appearance="fill" class="points">
                                <input matInput placeholder="" formControlName="value">
                            </mat-form-field>
                            <span *ngIf="question.controls.value.errors?.pattern">
                                Only positive whole numbers accepted!
                            </span>
                        </div>
                        <div>
                            <button mat-raised-button (click)="deleteQuestion(i)">Delete question</button>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noQuestions>
            <p>Add a question to get started...</p>
        </ng-template>

        <div class="padding">
            <button mat-raised-button (click)="addMultipleChoice()" class="gray">Add Multiple Choice</button>
            <button mat-raised-button (click)="addTrueFalse()" class="gray">Add True/False</button>
            <button mat-raised-button (click)="addShortAnswer()" class="gray">Add Short Answer</button>
        </div>
        <div class="padding">
            <button mat-raised-button (click)="addEssay()" class="gray">Add Essay</button>
            <button mat-raised-button (click)="addRanking()" class="gray">Add Ranking</button>
            <button mat-raised-button (click)="addMatching()" class="gray">Add Matching</button>
        </div>

        <div *ngIf="editQuizForm.invalid">
            <p>
                All fields must be filled out correctly before you can preview!
            </p>
        </div>
        <div *ngIf="editQuizForm.valid">
            <p>
                You can now preview!
            </p>
        </div>
        <button mat-raised-button [disabled]="editQuizForm.invalid" (click)="togglePreview()"
            class="go">Preview</button>
    </form>
</div>
<div *ngIf="isPreviewing" class="main-content">
    <h1>{{data.title}}</h1>
    <h4>{{data.description}}</h4>
    <div *ngFor="let question of data.questions; let i = index">
        <div [ngSwitch]="questionTypes[i]">
            <div *ngSwitchCase="'Multiple Choice'">
                <div *ngIf="(question.value==1)">
                    <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                </div>
                <div *ngIf="(question.value>1)">
                    <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                </div>
                <div>
                    <mat-radio-group value=question.answer>
                        <mat-radio-button value="1">
                            {{question.optionOne}}
                        </mat-radio-button><br>
                        <mat-radio-button value="2">
                            {{question.optionTwo}}
                        </mat-radio-button><br>
                        <mat-radio-button value="3">
                            {{question.optionThree}}
                        </mat-radio-button><br>
                        <mat-radio-button value="4">
                            {{question.optionFour}}
                        </mat-radio-button><br>
                    </mat-radio-group>
                    <br>
                </div>
            </div>
            <div *ngSwitchCase="'True/False'">
                <div *ngIf="(question.value==1)">
                    <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                </div>
                <div *ngIf="(question.value>1)">
                    <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                </div>
                <div>
                    <mat-radio-group value=question.answer>
                        <mat-radio-button value="true">true</mat-radio-button><br>
                        <mat-radio-button value="false">false</mat-radio-button>
                    </mat-radio-group>
                </div>
                <br>
            </div>
            <div *ngSwitchCase="'Short Answer'">
                <div *ngIf="(question.value==1)">
                    <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                </div>
                <div *ngIf="(question.value>1)">
                    <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                </div>
                <div>
                    <mat-form-field appearance="fill" class="input">
                        <input matInput placeholder="Answer Goes Here...">
                    </mat-form-field>
                </div>
            </div>
            <div *ngSwitchCase="'Essay'">
                <div *ngIf="(question.value==1)">
                    <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                </div>
                <div *ngIf="(question.value>1)">
                    <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                </div>
                <div>
                    <mat-form-field appearance="fill" class="fill-in">
                        <textarea matInput placeholder="Answer Goes Here...">
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
            <div *ngSwitchCase="'Ranking'">
                <div *ngIf="(question.value==1)">
                    <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                </div>
                <div *ngIf="(question.value>1)">
                    <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                </div>
                <div>
                    <div>
                        <mat-form-field appearance="fill" class="rank">
                            <mat-label> Rank</mat-label>
                            <mat-select>
                                <mat-option [value]="1">1</mat-option>
                                <mat-option [value]="2">2</mat-option>
                                <mat-option [value]="3">3</mat-option>
                                <mat-option [value]="4">4</mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp;{{question.optionOne}}
                    </div>
                    <div>
                        <mat-form-field appearance="fill" class="rank">
                            <mat-label> Rank</mat-label>
                            <mat-select>
                                <mat-option [value]="1">1</mat-option>
                                <mat-option [value]="2">2</mat-option>
                                <mat-option [value]="3">3</mat-option>
                                <mat-option [value]="4">4</mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp;{{question.optionTwo}}
                    </div>
                    <div>
                        <mat-form-field appearance="fill" class="rank">
                            <mat-label> Rank</mat-label>
                            <mat-select>
                                <mat-option [value]="1">1</mat-option>
                                <mat-option [value]="2">2</mat-option>
                                <mat-option [value]="3">3</mat-option>
                                <mat-option [value]="4">4</mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp;{{question.optionThree}}
                    </div>
                    <div>
                        <mat-form-field appearance="fill" class="rank">
                            <mat-label> Rank</mat-label>
                            <mat-select>
                                <mat-option [value]="1">1</mat-option>
                                <mat-option [value]="2">2</mat-option>
                                <mat-option [value]="3">3</mat-option>
                                <mat-option [value]="4">4</mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp;{{question.optionFour}}
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'Matching'">
                <div *ngIf="(question.value==1)">
                    <strong>{{i + 1}}. {{question.question}} ({{question.value}} point)</strong>
                </div>
                <div *ngIf="(question.value>1)">
                    <strong>{{i + 1}}. {{question.question}} ({{question.value}} points)</strong>
                </div>
                <div>
                    <mat-form-field appearance="fill" class="match">
                        <mat-label>Match</mat-label>
                        <mat-select>
                            <mat-option value="a">a. {{question.matchA}}</mat-option>
                            <mat-option value="b">b. {{question.matchB}}</mat-option>
                            <mat-option value="c">c. {{question.matchC}}</mat-option>
                            <mat-option value="d">d. {{question.matchD}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    &nbsp;{{question.optionOne}}
                    <br>
                    <mat-form-field appearance="fill" class="match">
                        <mat-label>Match</mat-label>
                        <mat-select>
                            <mat-option value="a">a. {{question.matchA}}</mat-option>
                            <mat-option value="b">b. {{question.matchB}}</mat-option>
                            <mat-option value="c">c. {{question.matchC}}</mat-option>
                            <mat-option value="d">d. {{question.matchD}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    &nbsp;{{question.optionTwo}}
                    <br>
                    <mat-form-field appearance="fill" class="match">
                        <mat-label>Match</mat-label>
                        <mat-select>
                            <mat-option value="a">a. {{question.matchA}}</mat-option>
                            <mat-option value="b">b. {{question.matchB}}</mat-option>
                            <mat-option value="c">c. {{question.matchC}}</mat-option>
                            <mat-option value="d">d. {{question.matchD}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    &nbsp;{{question.optionThree}}
                    <br>
                    <mat-form-field appearance="fill" class="match">
                        <mat-label>Match</mat-label>
                        <mat-select>
                            <mat-option value="a">a. {{question.matchA}}</mat-option>
                            <mat-option value="b">b. {{question.matchB}}</mat-option>
                            <mat-option value="c">c. {{question.matchC}}</mat-option>
                            <mat-option value="d">d. {{question.matchD}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    &nbsp;{{question.optionFour}}
                    <br>
                </div>
            </div>
        </div>
    </div>
    <button mat-raised-button (click)="togglePreview()" class="gray">Edit</button>
    <button mat-raised-button (click)="submit()" class="go">Submit</button>
</div>