.spacer {
    flex: 1 1 auto;
  }
  
a {
  margin-left: 1rem;
}

mat-toolbar { 
  background-color: #ffc642;
  box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.background {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10;
  opacity: 30%;
}

.container {
  height: 80vh;
}
  
  