<div class="main-container">
    <div class="row">
        <div class="col-md-12">
            <div class="button-container">
                <div class="button-container-inner">
                    <h1 class="lobster">Bee a Maker</h1>
                    <a mat-raised-button [routerLink]="['make']" class="dark">
                        <div>Make</div>
                    </a>
                </div>
                <div class="button-container-inner">
                    <h1 class="lobster">Bee a Taker</h1>
                    <a mat-raised-button [routerLink]="['take']" class="dark">
                        <div>Take</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="button-container-inner">
                <a mat-raised-button [routerLink]="['edit']" class="dark">
                    <div id="edit-container">Edit your quiz/survey</div>
                </a>
            </div>
        </div>
    </div>
</div>